button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 30px;
    background-color: lightblue;
}
p {
    padding: 5px;
    font-size: x-large;
}
#recordingButton {
    background-color: red;
    color:white;
}